<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    Compiled and minified JavaScript
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
       crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">     </script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="/images/branding/product/ico/googleg_lodp.ico" rel="shortcut icon">

   <title> ToDoList </title>
  </head>
  <body>
  <div class="container">
    <form action="{% url 'post' %}" method="post">
      {% csrf_token %}
      <div class="row">
        {% for field in form %}
          <div class="input-field col s9">
            {{ form }}
          </div>
        {% endfor %}
        <button class="input-field btn col s3 right" type="submit" name="button">send</button>
      </div>
    </form>

    <table class="centered">
      <thead>
        <tr>
          <th>Texto</th>
          <th>Fecha</th>
          <th>Borrar</th>
          <th>Archivar</th>
        </tr>
      </thead>
      <tbody>
      {% for post in list %}
        {% if not post.archivado %}
              <tr>
                <td>{{ post.texto | slice:":30" }}</td>
                <td>{{ post.fecha }}</td>
                <td><a class="material-icons" href="{% url 'borrar' post.id %}">delete</a></td>
                <td><a class="material-icons" href="{% url 'archivar' post.id %}">archive</a></td>
              </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
    <div>
  </body>
</html>
